:root{
--primary-text-color: #212121;
--secondary-text-color: #757575;
--primary-white-color: #FFFFFF;
--secondary-white-color: #F5F4FA;
--thirdly-white-color: #ECECEC;
--accent-color: #2196F3;
--logo-color: #000000;
--bg-color: #2F303A;
--secondary-bg-color: #AFB1B8;

}

body{

    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.link{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container{
    
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    /* outline: 2px solid tomato;   */
}

.container-main{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    /* outline: 2px solid tomato; */
}

.section .title{
    color: var(--primary-text-color);
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header > .container{
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
}

/* Logo */
.logo{
    color: var(--logo-color);
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-word{
    color: var(--accent-color);
}

/* Site nav */

.main-nav > .site-nav{
    display: flex;
    padding: 0;   
}

.site-nav > .item + .item{
    margin-left: 50px;
}

.main-nav{
    display: flex;
    margin-left: 93px;
    align-items: center;
    height: 80px;
}

.site-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts.list{
    margin-left: auto;

}

.contacts .link{
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    align-self: center;
}

.contacts.list > .link + .link{
    margin-left: 50px;
}

.header .link:hover,.header .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);


}

.site-nav .item{
    position: relative;

}

.site-nav a{

}

.site-nav .link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    background-color: #2196f3;
}

.icon-contact{
    margin-right: 10px;
    fill: currentColor;
}



/* .link.icon-mail::before{
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px;

    background-image: url(../images/envelope.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.link.icon-phone::before{

    width: 10px;
    height: 16px;
    content: "";
    margin-right: 10px;
    background-image: url(../images/smartphone.svg);
    background-size: contain;
 
} */

/* Hero */

.hero{
    background-color: var(--bg-color);
    
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/background.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.hero-title{
    color: var(--primary-white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
}

.hero > .button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    width: 216px;
    height: 50px;
    text-align: center;

    border: inherit;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-top: 30px;
    cursor: pointer;
}

/* Features */

.features{
    margin-top: 92px;
}

.feature-list{
    display: flex;
    padding: 0;

    list-style: none;
    color: var(--secondary-text-color);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.feature-list > .item + .item{
    margin-left: 30px;
}

.feature-list .title{
    text-transform: uppercase;
    margin-top: 30px;
}

.feature-list .description{
    width: calc((1170px - 3 * 30px)/4 );
    margin-top: 10px;

    font-weight: 400;
}

.feature-list .icon-features{
    width: 270px;
    height: 120px;
    background-color: var(--secondary-white-color);
    padding: 25px 100px;
    border-radius: 4%;
}

/* .feature-list .item::before{
    display: block;
    content:"";
    margin-bottom: 30px;
    height: 120px;

    border-radius: 4%;
    background-color: var(--secondary-white-color);
    background-repeat: no-repeat;
    background-position:  center;
} */

/* .icon-antenna::before{
    background-image: url(../images/antenna.svg);
}

.icon-clock::before{
    background-image: url(../images/clock.svg);
}

.icon-diagram::before{
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
}
 */


/* What do we do?  */

.examples{
    margin-top: 92px;
}
.communicate-list{
    display: flex;
    padding: 0;
    margin-top: 50px;
    list-style: none;
}

.communicate-list img{
    width: calc((1170px - 2 * 30px) / 3 );
    display: block;
}

.communicate-list > .item + .item{
    margin-left: 30px;
}

.communicate-list .item{
    position: relative;
}

.communicate-list .thumb{
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
}

.communicate-list .title{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    color: var(--primary-white-color);

    padding-top: 27px;
    padding-bottom: 27px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

/* Our team */

.team{
    padding-top: 92px;
    margin-top: 92px;
    padding-bottom: 92px;

    background-color: var(--secondary-white-color);
}

.team-list{
    display: flex;
    margin-top: 50px;

    color: var(--secondary-text-color);
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list > .item{
    background-color: var(--primary-white-color);
    width: calc((1170px - 3 * 30px) / 4);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list > .item + .item{
    margin-left: 30px;
}

.team-list .title{
    margin-top: 30px;

    color: var(--primary-text-color);
    font-weight: 500;
}

.team-list .description{
    margin-top: 10px;
}

.team .social-media{
    display: flex;
    justify-content: space-between;
}

.social-media .link{
    display: flex;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    border-radius: 50%;
}

.social-media .icon-social{
    fill: #afb1b8;
}

.social-media .link:hover, .social-media .link:focus{
    background-color: var(--accent-color);
}

.link:hover > .instagram, .link:focus > .instagram{
    fill: var(--primary-white-color);
}

.link:hover > .twitter, .link:focus > .twitter{
    fill: var(--primary-white-color);
}

.link:hover > .facebook, .link:focus > .facebook{
    fill: var(--primary-white-color);
}

.link:hover > .linkedin, .link:focus > .linkedin{
    fill: var(--primary-white-color);
}

.social-media{
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 30px;
}
    


/* 
/* .social-media > .list-icpm{
    width: 44px;
    height: 44px;
    
}

.social-media-list {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-content: center;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
}
/* 
.icon-instagram{
width: 20px;
height: 20px;

}

.icon-twitter{
    width: 20px;
    height: 20px;
}

.icon-facebook{
    width: 20px;
    height: 20px;
}

.icon-linkedin{
    width: 20px;
    height: 20px; 
} */ 
/* .icon-instagram{
    content: "";
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 30px;
    margin-top: 16px;
} */




/* .icon-twitter{
    content: "";
    width: 44px;
    height: 44px;
    outline: red solid 1px;
    background-image: url(../images/twitter.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 30px;
    margin-top: 16px;
} */

/* .social-media-list{
    display: flex;
    align-content: center;
} */ 

/* Clients */


.client-list > .item{
    width: calc((1170px - 5 * 30px)/ 6);
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4%;
    fill: #afb1b8;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients{
    margin-top: 92px;
}

.client-list{
    display: flex;
    padding-top: 50px;

}

.client-list .logo{
    margin: 16px 32px;
}

.client-list > .item + .item{
    margin-left: 30px;
}

.client-list > .item:hover, .client-list > .item:focus{
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

/* Footer */
.footer{
    margin-top: 92px;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-color);
    font-weight: 400;
    letter-spacing: 0.03em;
}

.footer-logo{
    color: var(--primary-white-color);
    font-family: Raleway;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer .contacts.list .link{
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.address .street{
    color: var(--primary-white-color);
    font-style: normal;
}

.footer .address{
    margin-top: 20px;
}

.footer .contacts .link{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    
}

.footer .link:hover, .footer .link:focus{
    color: var(--accent-color);
}

.footer .contacts.list{
    margin-top: 9px;
}

.footer .container{
    display: flex;
}

.contacts.list > .item + .item{
    margin-top: 9px;
}

.address-social{
    display: flex;
    align-items: center;
}

.social{
    margin-left: 70px;
    margin-top: 12px;
}

.footer .social-media > .list + .list{
    margin-left: 10px;
}

.footer .social-media .link{
    background-color: rgba(255, 255, 255, 0.1);
}
 .social-media .link:hover, .social-media .link:focus{
    background-color: var(--accent-color);
}

.social .description, .subscribe .description{
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer .social-media{
    display: flex;
    margin-top: 20px;
    margin-left: 0;

}

.subscribe{
    
    margin-left: 61px;
    margin-top: 12px;
}

.subscribe .description{
    margin-bottom: 20px;
}

.subscribe .form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 570px;
}

.subscribe .form-input{
    width: 358px;
    height: 50px;
    background-color: var(--bg-color);
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--primary-white-color);
    margin-right: 12px;
}

.subscribe .button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    width: 200px;
    height: 50px;
    color: var(--primary-white-color);

    justify-content: center;
    align-items: center;


    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

}

.subscribe .form-label{
    font-family: Roboto;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    cursor: pointer;
}


.subscribe .icon-send{
    fill: var(--primary-white-color);
    margin-left: 10px;
}

.form-input::placeholder{

}


/* Categories */

.categories-list{
    display: flex;
    margin-top: 92px;
    justify-content: center;
    list-style: none;
    

}

.categories-list .primary{
    color: var(--primary-text-color);
    background-color: var(--secondary-white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63; 
    letter-spacing: 0.03em;

    border-radius: 4px;
    border-color: var(--secondary-white-color);

    cursor: pointer;
}

.categories-list .primary:active{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color) ;
}
.categories-list .current{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.categories-list > .item + .item{
    margin-left: 8px;
}

.categories{
    margin-top: 50px;

    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88; 
    letter-spacing: 0.03em;
}

.categories .title{
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.categories.list{
    display: flex;
    flex-wrap: wrap;
}



.categories-thumb{
    position: relative;
}

.container-bg:hover .categories-thumb{
    opacity: 1;
    transform: translateY(0);
}

.container-bg:hover .text{
    opacity: 1;
}

.img-thumb{
    position: relative;
    overflow: hidden;
}

.categories-thumb{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.categories-thumb .text{

position: absolute;
top: 0;
left: 0;
padding: 63px 24px;
color: black;
opacity: 0;
width: 100%;
height: 100%;

font-size: 18px;
font-weight: 400;
line-height: 1.56;
text-align: left;

}



.container-bg{
    position: relative;
    border: 1px solid #EEE;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

    background: var(--primary-white-color);
    width: calc((1170px - 2 * 30px )/ 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.container-bg:nth-child(3n){
    margin-right: 0;
}

.container-bg:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.container-bg img{
    display: block;
}

.container-bg .title{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
}

.container-bg .description{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 4px;
    margin-bottom: 20px;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

 .backdrop.is-hidden{
    visibility: visible;
    opacity: 0;
    pointer-events: none;
} 

.backdrop.is-hidden .modal{
    transform:  translate(-50%,-50%) scale(1.1);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);

    height: 581px;
    width: 528px;


    background-color: #fff;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.modal .form{
    margin-top: 2px;
    margin-right: 40px;
    margin-left: 40px;
}

.modal .form-field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal .comment{
    resize: none;
    width: 100%;
    max-height: 120px;
    border: 1px solid rgba(33, 33, 33,0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px 16px;
    outline: none;
}

.modal .checkbox{
    display: block;
    margin-top: 20px;
    height: 24px;
}

.modal .button{
    margin-top: 30px;

    margin-left: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    width: 200px;
    height: 50px;
    color: var(--primary-white-color);
    cursor: pointer;
}

.modal .form-input{

    border: 1px solid rgba(33, 33, 33,0.2);
    border-radius: 4px;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
 
}

.modal .comment::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117,0.5);
}



.modal .form-label{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.modal .policy{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.modal .icon{
    position: absolute;
    top: 50%;
    left: 12px;

    display: inline-block;
    width: 18px;
    height: 18px;
    fill: var(--primary-text-color);
}

.form-input:focus ~ .icon{
    fill: var(--accent-color);
}

.modal .form-input:focus, .modal .comment:focus{
    border: 1px solid var(--accent-color);
}

.policy .form-input{
    display: inline;
    height: 24px;
    margin-top: 0;
    margin-left: 12px;
    margin-right: 8px;
}

.policy .form-label{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



.policy .accent{
    color: var(--accent-color);
}




.btn-close{
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(0,0,0,0.14), 0px 1px 3px rgba(0,0,0,0.12);
    cursor: pointer;
    padding: 1px 6px;
   
}

.btn-close .icon-close{
    fill: var(--logo-color);

    background-size: contain;
}